.container {
  background-color: var(--clr-slate-900);
  color: var(--clr-white);
  padding: 2rem 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.title {
}

.desc {
  color: var(--clr-slate-300);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container {
    width: 43rem;
    margin-inline: auto;
    border-radius: 0 0 2.5rem 2.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 31.5rem;
    border-radius: 0 2.5rem 2.5rem 6rem;
  }
}
